.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img {
  margin-top: 150px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 25px 25px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid #fff;
}
.hero-resume:hover {
  border-color: #b415ff;
}
