* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red;
  background: rgba(0, 255, 0, 0.1); */
}
body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "Outfit";
}
.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
